{%extends 'app/base.html'%}
{%load static%}
{% load crispy_forms_tags %}

{% block contenido %}
  

<body>
    

    
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-lg-12 mt-5">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        {{  form|crispy  }}
                    </table>
                    <input type="submit" class="btn btn-success" value="guardar">
                </form>
                {{ mensaje }}
            </div>
        </div>
    </div>


{%endblock%}    